@import "../../styles.scss";

.Footer {
  background: #2d2d2d;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.5);
}

.footer-space {
  padding-bottom: 70px;
}
