@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #ffd700;
  border: 3px solid #7a0000;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  width: fit-content;
  margin-bottom: 20px;
}

label {
  font-size: 12px;
  color: #7a0000;
  text-transform: uppercase;
}

select {
  background: #fff;
  border: 3px solid #7a0000;
  padding: 8px;
  font-size: 12px;
  font-family: 'Press Start 2P', cursive;
  color: #333;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 3px 3px 0px #2d2d2d;
  transition: all 0.3s ease;
}

select:hover {
  background: #ff9900;
  color: #fff;
  box-shadow: 3px 3px 0px #000;
}
