@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "../../../styles.scss";

.category {
  width: 200px;
  background-color: #fff;
  padding: 15px;
  border: 3px solid #7a0000;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: $retro-font;

  &:hover {
    background-color: #ffd700;
    transform: scale(1.05);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .category-name {
    font-size: 14px;
    font-weight: bold;
    color: #7a0000;
    text-shadow: 2px 2px 0px #ffd700;
  }

  .select-button {
    background: #ffd700;
    color: #2d2d2d;
    font-family: $retro-font;
    padding: 8px 12px;
    border: 3px solid #7a0000;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 10px;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 0px #2d2d2d;
    margin-top: 10px;

    &:hover {
      background: #ff9900;
      color: #fff;
      box-shadow: 3px 3px 0px #000;
      transform: translateY(-2px);
    }
  }
}
