<div class="order-container">
  <div *ngIf="isLoggedIn; else notLoggedIn">
    <h2 class="order-title">{{ 'orders.title' | translate }}</h2>
    <form [formGroup]="orderForm" (ngSubmit)="submitOrder()">
      <input id="street" formControlName="street" class="order-input" placeholder="Enter your streetname" required>
      <input id="city" formControlName="city" class="order-input" placeholder="Enter your city" required>
      <input id="zip_code" formControlName="zip_code" class="order-input" placeholder="Enter your zip code" required>
      <button type="submit" class="order-button" [disabled]="orderForm.invalid" data-cy="place-order-btn">{{ 'orders.place' | translate }}</button>
    </form>
  </div>
</div>

<ng-template #notLoggedIn>
  <div class="not-logged-in-container">
    <p>{{ 'orders.no-user' | translate }}</p>
    <a routerLink="/login">{{ 'orders.login' | translate }}</a> | <a routerLink="/register">{{ 'orders.register' | translate }}</a>
  </div>
</ng-template>
