<main class="home-main">
  <div class="hero-section">
    <h1>{{ 'homepage.welcome' |translate }}</h1>
    <p>{{ 'homepage.welcome-p' |translate }}</p>
    <a routerLink="/products" class="cta-button">{{ 'homepage.collection' |translate }}</a>
  </div>

  <section class="features">
    <div class="feature">
      <h2>{{ 'homepage.games' |translate }}</h2>
      <p>{{ 'homepage.games-p' |translate }}</p>
    </div>
    <div class="feature">
      <h2>{{ 'homepage.consoles' |translate }}</h2>
      <p>{{ 'homepage.consoles-p' |translate }}</p>
    </div>
    <div class="feature">
      <h2>{{ 'homepage.accessories' |translate }}</h2>
      <p>{{ 'homepage.accessories-p' |translate }}</p>
    </div>
  </section>
</main>
