.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
}

app-product {
  flex-grow: 1;
  flex-basis: calc(25% - 20px);
  min-width: 250px;
  max-width: 300px;
  box-sizing: border-box;
}


.main-content {
  display: flex;
  flex: 1;
  padding-top: 90px;
  padding-bottom: 70px;
  justify-content: center;
  align-items: center;
}
